/Cam_puppet_v1_stm32F1_workspace/.metadata
/Cam_puppet_v1_stm32F1_workspace/Cam_puppet_v1/Debug
/Cam_puppet_v1_stm32F1_workspace/Cam_puppet_v1/Drivers
/src_github
/Cam_puppet_v1_stm32F1_workspace/Cam_puppet_v1/.settings
